@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

:root {
	--mainColor: #1E3877;
	--mainColorLight: #5767aa;
	--secondaryColor: #E84A27;
	--textColor: #eee;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    /* background-color: #000; */
	/* font-family: "Titillium Web", sans-serif; */
}

h3{
	position: relative;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
}
body{
	text-align: center;
}
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	background-color: var(--mainColor);
	color: var(--textColor);
	z-index: 9999;
	top: 0;
	position: fixed;
	width: 100%;
}

nav a {
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
}

nav a:hover {
	color: var(--secondaryColor);
}

  grid-row{
	display: inline-block;
  }
  .flex-item {
	display:inline;
	width:200px;
	justify-content: center;
	padding: 10px;
	align-items:center;
	font-size: 1em;
	font-weight:normal;
	color:rgb(10, 10, 10);
  	flex-wrap: wrap;
  
  }

  .footer{
	margin-top: 1rem;
	padding: 1rem;
	background-color: #1E3877;
	color: white;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
  }
  
  .radio button
  {
	display: block;
	border-radius: 5px;
	margin: 15px 32px;
	padding: 10px 10px;

	border: none;
	font-size: 10px;
	color: white;
	margin-left: auto;
	margin-right: auto;
	background-color: #E84A27;
	text-decoration: none;

  }
  
 .radio img{
	height: 100px;
	width: 250px;
	border-radius: 4px;
	display: block;
	margin-left: auto;
	margin-right: auto;
  }
  .radio form{
	display: block;
	margin-left: auto;
	margin-right: auto;
  }
header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

.forminput{
	margin-right: 4px;
}

.radio{
	margin-top: 8em;
	margin-left: 8em;
	margin-right: 8em;
		color: #E84A27;
	margin-bottom: 2em;
	font-weight: 500;
	letter-spacing: 1px;
	align-items: center;
}

.billiardsforminput{
	margin-right: 2em;
}

table {
	border-collapse: collapse;
	width: 100%;
	top: 5em;
  }
  th, td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
  }

header img{
	height: 40px;
	width: 40px;
	
	position:fixed; 
	top:20px; 
	left:20px; 
}

nav {
	display: flex;
	align-items: center;
	right: 0;
	position: fixed;
}
.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	background-color: #f8f4f3;
	padding: 10px;
  }
  .grid-item h1{
	background-color: #1E3877;
	font-weight: bold;
	padding: 20px;
	font-size: 30px;
	text-align: center;
	color: white;
	
  }
  .grid-item {
	background-color: #E84A27;
	border: 1px solid rgba(254, 254, 254, 0.8);
	padding: 20px;
	font-size: 30px;
	text-align: center;
	
  }
  .grid-item p{
	font-size: 10px;
	color:white;
	font-weight: bold;
  }

#reservations {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#reservations td, #reservations th {
	border: 1px solid #ddd;
	padding: 8px;
}

#reservations tr:nth-child(even){background-color: #f2f2f2;}
#reservations tr:first-child {background-color: #bff1c5;}

#reservations tr:hover {background-color: #ddd;}

#reservations th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #E84A27;
	color: white;
}
.resload
{
	padding-top: 20px;
}
.desc
{
	color: black;
}
@media only screen and (max-width: 1324px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}
	.radio{
		margin:80px auto auto auto ;
		color: #E84A27;
		font-weight: 500;
		letter-spacing: 1px;
		align-items: center;
	}
	
	header nav {
		position: fixed;
		top: 0;
		right: 0;
		height: 100%;
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
		transform: translateX(100vh);
		z-index: 9999;
	}
	.radio button
	{
	  display: block;
	  border-radius: 5px;
	  margin: 15px 32px;
	  padding: 10px 10px;
  
	  border: none;
	  font-size: 10px;
	  color: white;
	  margin-left: auto;
	  margin-right: auto;
	  background-color: #E84A27;
	  text-decoration: none;
  
	}
	
   .radio img{
	  height: 100px;
	  width: 250px;
	  border-radius: 4px;
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	}
	.radio form{
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	}
	header .responsive_nav {
		transform: none;
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
	
	.grid-container {
		display: grid;
		grid-template-columns: auto auto auto;
		background-color: #f8f4f3;
		text-align: center;

	  }
	  .grid-item h1{
		background-color: #1E3877;
		font-weight: bold;
		padding: 5px;
		font-size: 10px;
		text-align: center;
		color: white;
		
	  }
	  .grid-item {
		background-color: #E84A27;
		border: 1px solid rgba(254, 254, 254, 0.8);
		padding: 10px;
		font-size: 10px;
		display: inline-block;
		
	  }
	  .grid-item p{
		font-size: 10px;
		color:white;
		font-weight: bold;
	  }
	
} 



